.path-editor {
	flex: 1 0 auto;
	background: hsla( 200, 50%, 95%, 1 );
	display: flex;
	align-items: center;

	.method {
		font-family: Monaco, monospace;
		font-size: 12px;
		background: hsla( 200, 50%, 85%, 1 );
		padding: 4px 8px;
		margin: 8px;
	}

	.path-segments {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		font-family: Monaco, monospace;
		font-size: 14px;
	}

	.segment {
		color: hsla( 200, 20%, 60%, 1 );
	}

	.variable {
		color: hsla( 200, 40%, 40%, 1 );
		background: hsla( 200, 40%, 100%, 1);
		padding: 4px 8px;
		margin: 0 4px;
		border-radius: 2px;

		&::after {
			content: attr(data-placeholder);
			color: hsla( 200, 40%, 60%, 1 );
		}

	}

	.cancel {
		padding: 16px;

		&:hover {
			background: #F00;
		}

	}

}